<!DOCTYPE html>
<html>
<head>
<title>Karanji Folks | Home</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/elastislide.css" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />

<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="Music Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
 <script >
      $(document).ready(function(){
        $("iframe").mouseover(function(){
          $(this).attr({width:300, height:300});
        }).mouseleave(function(){
          $(this).attr({width:300, height:200});

        });
      });
    </script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<noscript>
      <style>
        .es-carousel ul{
          display:block;
        }
      </style>
    </noscript>
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">  
      <div class="rg-image-wrapper">
        {{if itemsCount > 1}}
          <div class="rg-image-nav">
            <a href="#" class="rg-image-nav-prev">Previous Image</a>
            <a href="#" class="rg-image-nav-next">Next Image</a>
          </div>
        {{/if}}
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
        <div class="rg-caption-wrapper">
          <div class="rg-caption" style="display:none;">
            <p></p>
          </div>
        </div>
      </div>
    </script>
</head>
<body><!--header-->
<div class="header"> 
  <div class="container"> 
    <div class="header-top"> 
      <div class="logo"> <h1><a href="index.html"><img width="100px" alt"logo"="" src="images/logo.png" /></a></h1> 
      </div> 
      <div class="top-nav"> <span class="menu"><img alt="" src="images/menu.png" /> </span> 
       <ul>
            <li ><a href="index.html" class="hvr-sweep-to-bottom color">Home  </a> </li>
            <li ><a href="album.html" class="hvr-sweep-to-bottom color1">Albums  </a> </li>
            <li ><a href="team.html" class="hvr-sweep-to-bottom color1">Team  </a> </li>
            <li><a href="blog.html"  class="hvr-sweep-to-bottom color2">Blog</a></li>
            <li><a href="mentor.html" class="hvr-sweep-to-bottom color3">Mentor </a></li>
            <li><a href="gallery.html" class="hvr-sweep-to-bottom color3">Gallery </a></li>
            <li><a href="about.html" class="hvr-sweep-to-bottom color4">Sponsor </a></li>
            <li><a href="mail.html" class="hvr-sweep-to-bottom color5">Contact </a></li>
          <div class="clearfix"> </div>
          </ul> 
      </div> 
    </div> 
  </div> 
</div><!--//header-->
<!--content-->
<article>
<h4>Photo Gallery</h4>
<div class="row">
  <div class="col-xs-6 col-md-3 zoomin">
    <a href="#" class="thumbnail">
      <img src="images/1.jpg" title="All you need to know about CSS Transitions " />
    </a>
  </div>
  <div class="col-xs-6 col-md-3 zoomin">
    <a href="#" class="thumbnail">
      <img src="images/2.jpg" title="All you need to know about CSS Transitions " />
    </a>
  </div>
   <div class="col-xs-6 col-md-3 zoomin">
    <a href="#" class="thumbnail">
      <img src="images/3.jpg" title="All you need to know about CSS Transitions " />
    </a>
  </div>
   <div class="col-xs-6 col-md-3 zoomin">
    <a href="#" class="thumbnail">
      <img src="images/4.jpg" title="All you need to know about CSS Transitions " />
    </a>
  </div>
  </div>
  <div class="row">
  <div class="col-xs-6 col-md-3 zoomin">
    <a href="#" class="thumbnail">
      <img src="images/a1.jpg" title="All you need to know about CSS Transitions " />
    </a>
  </div>
  <div class="col-xs-6 col-md-3 zoomin">
    <a href="#" class="thumbnail">
      <img src="images/a2.jpg" title="All you need to know about CSS Transitions " />
    </a>
  </div>
   <div class="col-xs-6 col-md-3 zoomin">
    <a href="#" class="thumbnail">
      <img src="images/a3.jpg" title="All you need to know about CSS Transitions " />
    </a>
  </div>
   <div class="col-xs-6 col-md-3 zoomin">
    <a href="#" class="thumbnail">
      <img src="images/a4.jpg" title="All you need to know about CSS Transitions " />
    </a>
  </div>
  </div>
  <div class="row">
  <div class="col-xs-6 col-md-3 zoomin">
    <a href="#" class="thumbnail">
      <img src="images/a5.jpg" title="All you need to know about CSS Transitions " />
    </a>
  </div>
  <div class="col-xs-6 col-md-3 zoomin">
    <a href="#" class="thumbnail">
      <img src="images/a6.jpg" title="All you need to know about CSS Transitions " />
    </a>
  </div>
   <div class="col-xs-6 col-md-3 zoomin">
    <a href="#" class="thumbnail">
      <img src="images/a7.jpg" title="All you need to know about CSS Transitions " />
    </a>
  </div>
   <div class="col-xs-6 col-md-3 zoomin">
    <a href="#" class="thumbnail">
      <img src="images/a8.jpg" title="All you need to know about CSS Transitions " />
    </a>
  </div>
  </div>
</article>
  
	<!-- <div class="content">
          Home / Galleries
        <div id="rg-gallery" class="rg-gallery">
          <div class="rg-thumbs">
         
            <div class="es-carousel-wrapper">
              <div class="es-nav">
                <span class="es-nav-prev">Previous</span>
                <span class="es-nav-next">Next</span>
              </div>
              <div class="es-carousel">

                <ul>
                  <li><a href="#" ><img src="images/thumbs/1.jpg" data-large="images/1.jpg" alt="image02"  /></a></li>
                  <li><a href="#"><img src="images/thumbs/2.jpg" data-large="images/2.jpg" alt="image02"  /></a></li>
                  <li><a href="#"><img src="images/thumbs/3.jpg" data-large="images/3.jpg" alt="image03"  /></a></li>
                  <li><a href="#"><img src="images/thumbs/4.jpg" data-large="images/4.jpg" alt="image04"  /></a></li>
                  </ul>
                  <ul>
                  <li><a href="#"><img src="images/thumbs/a1.jpg" data-large="images/a1.jpg" alt="image05"  /></a></li>
                  <li><a href="#"><img src="images/thumbs/a2.jpg" data-large="images/a2.jpg" alt="image06"  /></a></li>
                  <li><a href="#"><img src="images/thumbs/a3.jpg" data-large="images/a3.jpg" alt="image07"  /></a></li>
                  <li><a href="#"><img src="images/thumbs/a4.jpg" data-large="images/a4.jpg" alt="image08"  /></a></li></ul>
                  <ul>
                  <li><a href="#"><img src="images/thumbs/a5.jpg" data-large="images/a6.jpg" alt="image09"  /></a></li>
                  <li><a href="#"><img src="images/thumbs/a7.jpg" data-large="images/a7.jpg" alt="image10"  /></a></li>
                  <li><a href="#"><img src="images/thumbs/a8.jpg" data-large="images/a8.jpg" alt="image11" /></a></li>
                  <li><a href="#"><img src="images/thumbs/a9.jpg" data-large="images/a9.jpg" alt="image12"  /></a></li></ul>
                  <ul>
                  <li><a href="#"><img src="images/thumbs/b1.jpg" data-large="images/b1.jpg" alt="image13"  /></a></li>
                  <li><a href="#"><img src="images/thumbs/b2.jpg" data-large="images/b2.jpg" alt="image14"  /></a></li>
                  <li><a href="#"><img src="images/thumbs/RAM_PRASAD.jpg" data-large="images/RAM_PRASAD.jpg" alt="image15" /></a></li>
                  <li><a href="#"><img src="images/thumbs/SATISH.jpg" data-large="images/SATISH.jpg" alt="image16"  /></a></li></ul>
                  <ul>
                  <li><a href="#"><img src="images/thumbs/SURI.jpg" data-large="images/SURI.jpg" alt="image17"  /></a></li>
                  <li><a href="#"><img src="images/thumbs/VANI_SATISH.jpg" data-large="images/VANI_SATISH.jpg" alt="image18"  /></a></li>
                  
                </ul>
              </div>
            </div>
            
          </div>
        </div>
  </div>
 -->








    

   






      
      
      
     
    
    <div class="clearfix">&nbsp;
    
    </div> 
  </div> 
</div><!--//content-->
<!--footer-->
<div class="footer" style="background-image:url(images/footer_back.jpg);"> 
  <div class="container"> <h2><a href="index.html">Karanji Folks</a></h2> 
    <ul> 
      <li><a href="index.html">Home  </a> </li> 
      <li><a href="team.html">Team  </a> </li> 
      <li><a href="#">Blog</a></li> 
      <li><a target="_blank" href="#">Mentor</a></li> 
      <li><a href="about.html">Sponsor</a></li> 
      <li><a href="mail.html">Contact</a></li> 
      <div class="#">&nbsp;
      
      </div> 
    </ul> 
    <p><a href=" https://www.facebook.com/karanjifolks"><img src="images/facebook.png" class="facebooklogo"> </a>© 2015 Karanji Folks All rights reserved. | Powered by <a href="http://careertech.in/" style="color:white; text-decoration:underline">CareerTech IT Solutions.</a></p> 
  </div> 
</div><!--//footer--></body>
</html>
<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="js/gallery.js"></script>
   qq